@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ReForm.Core.Interfaces
@using ReForm.Infrastructure.Services
@inject IUserService userService;

@{
    var user = await userService.GetByEmailAsync(User?.Identity?.Name);
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
